__pycache__
.python-*
.vscode
config/old
*v1_dbg*
notebook
boe
*boe_*
data/*/*
cuda-*
data_dbg
download
exp/old
exp/*/hrir
exp/*/hrtf_mag
exp/*/itd
exp_baseline
exp/v1_*
figure/fig*
figure/old
figure_d*
figure_ablation*
requirements_*
nohup*
old
plot_results_ablation*