__pycache__
.python-*
.vscode
config/old
*v1_dbg*
notebook/boe*.ipynb
notebook/fig*
boe
boe_*
data/*/*
cuda-*
download
exp/old
exp/v1/hrir
exp/v1/hrtf_mag
exp/v1/itd
exp_baseline/*/*/*
figure/fig*
figure/old
requirements_*
nohup*