__pycache__
.python-*
.vscode
config/old
*v1_dbg*
notebook
boe
boe_*
data/*/*
cuda-*
data_dbg
download
exp/old
exp/v1/hrir
exp/v1/hrtf_mag
exp/v1/itd
exp_baseline/*/*/*
figure/fig*
figure/old
figure_d*
requirements_*
nohup*